body, html
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: Montserrat;
}

/* Custom font */
@font-face {
font-family: "Montserrat";
src: url("Montserrat-regular.otf");
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("Montserrat-black.otf");
}

a {
  color: inherit;
}

h1 {
  font-family: Montserrat-Black;
  text-align: center;
  font-size: 50px;
}

h2 {
  font-size: 28px;
}

p.mainSubText {
  font-size: 40px;
  text-align: center;
  color: black;
  font-family: Montserrat-Black;

}

.aniText {
  font-family: Montserrat-Black;
  text-align: center;
  color: black;
  padding-top: 90px;
  font-size: 60px;
  opacity: 0;
  animation: fadeIn 3s forwards;
}


/* CSS for text animation */
@keyframes fadeIn {
  0% {opacity: 0;}
  50% {opacity: .5}
  100% {opacity: 1;}
}

.plane {
  float: left bottom;
}

.Home {
  background-image: url("paper1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
  min-height: 600px;
  color: #fff8f0;
  padding-top: 100px;
  overflow: auto;
}

.Products {
  font-size: 20px;
  background-color: #4B4E6D;
  background-position: center;
  color: #fff8f0;
  min-height: 500px;
  overflow: auto;
  padding-top: 60px;
}

.row {
  display: flex;
  text-align: center;
}

.column {
  flex: 33.3%;
  padding: 50px;
  text-align: center;
}

.button {
  background-color: lightgray;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: white;
}

.Contact {
  font-size: 30px;
  background-color: #718f94;
  color: #fff8f0;
  min-height: 500px;
  padding-top: 40px;
}

/* Products section */
.container {
  border-radius: 30px;
  padding-right: 80px;
  float: right;
  margin: 5px;
}

.address {
  float: left;
  font-size: 20px;
  padding-left: 100px;
}

/* Navigation bar CSS */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 12px 18px;
  transition: background-color 0.4s ease-out;
}


nav .navbar-right {
   float: right;
   display: block;
   padding-right: 20px;
   text-decoration: none;
   font-size: 18px;
}

nav .navbar-left {
  float: left;
  display: block;
  padding-right: 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: Montserrat-Black;
}

nav a:hover {
  color: lightgray;
}

nav.scroll {
  background-color: #fff8f0;
  color: black;
}
