body, html
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: Montserrat;
}

/* Custom font */
@font-face {
font-family: "Montserrat";
src: url("Montserrat-regular.otf");
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("Montserrat-black.otf");
}

a {
  color: inherit;
  margin: 0;
}

h1 {
  font-family: Montserrat-Black;
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 28px;
  padding-top: 40px;
}

/* Main section */
p.mainSubText {
  font-size: 40px;
  text-align: center;
  color: black;
  font-family: Montserrat-Black;
  margin: 0;
}

.aniText {
  font-family: Montserrat-Black;
  text-align: center;
  color: black;
  padding-top: 120px;
  font-size: 60px;
  opacity: 0;
  animation: fadeIn 3s forwards;
}

.Home {
  background-image: url("paper1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
  min-height: 600px;
  padding: 100px;
  overflow: hidden;
  top: 0;
}



/* CSS for text animation */
@keyframes fadeIn {
  0% {opacity: 0;}
  50% {opacity: .5}
  100% {opacity: 1;}
}


/* Products section */
.Products {
  font-size: 20px;
  background-color: #4B4E6D;
  background-position: center;
  color: #ffffff;
  min-height: 500px;
  overflow: auto;
  padding-top: 60px;
}

.row {
  display: flex;
  text-align: center;
}

.column {
  flex: 33.3%;
  padding: 50px;
  text-align: center;
}

.button {
  background-color: lightgray;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: white;
}

/* Contact section */
.Contact {
  font-size: 30px;
  background-color: #718f94;
  color: #ffffff;
  min-height: 500px;
  padding-top: 40px;
}

.container {
  border-radius: 30px;
  padding-right: 80px;
  float: right;
  margin: 5px;
}

.address {
  float: left;
  font-size: 20px;
  padding-left: 100px;
}

.plane {
  float: left bottom;
}

/* Navigation bar CSS */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 12px 18px;
  margin: 0;
  transition: background-color 0.4s ease-out;
}


nav .navbar-right {
   float: right;
   display: block;
   padding-right: 20px;
   text-decoration: none;
   font-size: 18px;
}

nav .navbar-left {
  float: left;
  display: block;
  padding-right: 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: Montserrat-Black;
}

nav a:hover {
  color: lightgray;
}

nav.scroll {
  background-color: #ffffff;
  color: black;
}

/* Testimonial section */
#testimonials {
  background-color: #ffffff;
  height: 600px;
  padding-top: 60px;
}

.testimonial {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  width: 700px;
  padding: 10px;
  margin: 16px 0;
}

.testimonial img {
  float: left;
  margin-right: 20px;
  border-radius: 60%;
}

.testimonial span {
  font-size: 20px;
  margin-right: 15px;
}

/* Testimonials Slideshow */
.mySlides {
    display: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-align: center;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
